# Written by: Xilinx XPort Language Converter, Version 4.1 (110)
# Date: 15-Oct-2015 09:05 PM
NET "CLK_RAMC" LOC = "P22";
NET "RESET" LOC = "P99";
NET "A40[0]" LOC = "P58";
NET "A40[1]" LOC = "P56";
NET "A40[2]" LOC = "P55";
NET "A40[3]" LOC = "P54";
NET "A40[4]" LOC = "P53";
NET "A40[5]" LOC = "P52";
NET "A40[6]" LOC = "P50";
NET "A40[7]" LOC = "P49";
NET "A40[8]" LOC = "P46";
NET "A40[9]" LOC = "P43";
NET "A40[10]" LOC = "P42";
NET "A40[11]" LOC = "P41";
NET "A40[12]" LOC = "P40";
NET "A40[13]" LOC = "P39";
NET "A40[14]" LOC = "P37";
NET "A40[15]" LOC = "P36";
NET "A40[16]" LOC = "P35";
NET "A40[17]" LOC = "P34";
NET "A40[18]" LOC = "P33";
NET "A40[19]" LOC = "P32";
NET "A40[20]" LOC = "P30";
NET "A40[21]" LOC = "P29";
NET "A40[22]" LOC = "P28";
NET "A40[23]" LOC = "P25";
NET "A40[24]" LOC = "P24";
NET "A40[25]" LOC = "P20";
NET "A40[26]" LOC = "P19";
NET "A40[27]" LOC = "P18";
NET "A40[28]" LOC = "P17";
NET "A40[29]" LOC = "P16";
NET "A40[30]" LOC = "P15";
NET "C4MHZ" LOC = "P11";
NET "RW_40" LOC = "P12";
NET "INIT" LOC = "P13";
NET "SIZ40[0]" LOC = "P72";
NET "SIZ40[1]" LOC = "P71";
NET "TT40_1" LOC = "P1";
NET "TS40" LOC = "P70";
NET "SCLK" LOC = "P2";
NET "ICACHE" LOC = "P3";
NET "WE_FLASH" LOC = "P14";
NET "OE_FLASH" LOC = "P59";
NET "UDQ0" LOC = "P77";
NET "UDQ1" LOC = "P74";
NET "LDQ0" LOC = "P76";
NET "LDQ1" LOC = "P73";
NET "CE_B0" LOC = "P78";
NET "CE_B1" LOC = "P79";
NET "WE" LOC = "P80";
NET "CAS" LOC = "P81";
NET "RAS" LOC = "P85";
NET "CLK_RAM" LOC = "P82";
NET "CLKEN" LOC = "P10";
NET "BA0" LOC = "P87";
NET "BA1" LOC = "P90";
NET "LE_RAM" LOC = "P65";
NET "OERAM_40" LOC = "P66";
NET "OE40_RAM" LOC = "P67";
NET "ARAM[0]" LOC = "P94";
NET "ARAM[1]" LOC = "P96";
NET "ARAM[2]" LOC = "P6";
NET "ARAM[3]" LOC = "P8";
NET "ARAM[4]" LOC = "P9";
NET "ARAM[5]" LOC = "P7";
NET "ARAM[6]" LOC = "P97";
NET "ARAM[7]" LOC = "P95";
NET "ARAM[8]" LOC = "P93";
NET "ARAM[9]" LOC = "P91";
NET "ARAM[10]" LOC = "P92";
NET "ARAM[11]" LOC = "P89";
NET "ARAM[12]" LOC = "P86";
NET "D30[28]" LOC = "P61";
NET "D30[29]" LOC = "P63";
NET "D30[30]" LOC = "P64";
NET "D30[31]" LOC = "P60";
NET "SEL16M" LOC = "P4";
NET "TA40" LOC = "P68";
NET "TCI40" LOC = "P23";
NET "TBI40" LOC = "P27";
